<ion-card class="meeting">
  <ion-card-header>
    {{meeting.title}}
    <ion-icon name="bookmarks" style="float:right"></ion-icon>
  </ion-card-header>
  <ion-card-content>
    {{meeting.description}}
  </ion-card-content>
  <ion-row no-padding>
    <ion-col no-padding>
      <button ion-button clear small icon-left>
            <ion-icon name='calendar'></ion-icon>
            {{humanDate}}
      </button> 
    </ion-col>
    <ion-col text-right no-padding>
      <button ion-button clear small icon-left class="activity">
            <ion-icon name='bookmark'></ion-icon>
            {{activities}}
      </button>
      <button ion-button clear small icon-left class="contact">
            <ion-icon name='people'></ion-icon>
            {{participants}}
      </button>
    </ion-col>
  </ion-row>
</ion-card>