<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Início</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Próximas</h3>
  <div *ngFor="let event of next">
    <!--If meeting-->
    <ion-card class="meeting" *ngIf="event.constructor.name == 'Meeting'">
      <ion-card-header>
        {{event.title}}
        <ion-icon name="bookmarks" style="float:right"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        {{event.description}}
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small icon-left>
            <ion-icon name='calendar'></ion-icon>
            {{event.dateTime}}
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small icon-left>
            <ion-icon name='people'></ion-icon>
            {{event.participants}}
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    <!--End If meeting-->
    <!--If activity-->
    <ion-card class="activity" *ngIf="event.constructor.name == 'Activity'">
      <ion-card-header>
        {{event.title}}
        <ion-icon name="bookmark" style="float:right"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        {{event.description}}
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small icon-left>
            <ion-icon name='calendar'></ion-icon>
            {{event.dateTime}}
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small icon-left>
            <ion-icon name='person'></ion-icon>
            {{event.owners}}
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    <!--End If activity-->
  </div>
  <h3>Últimas</h3>
  <div *ngFor="let event of previous">
    <!--If meeting-->
    <ion-card class="meeting" *ngIf="event.constructor.name == 'Meeting'">
      <ion-card-header>
        {{event.title}}
        <ion-icon name="bookmarks" style="float:right"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        {{event.description}}
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small icon-left>
            <ion-icon name='calendar'></ion-icon>
            {{event.dateTime}}
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small icon-left>
            <ion-icon name='people'></ion-icon>
            {{event.participants}}
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    <!--End If meeting-->
    <!--If activity-->
    <ion-card class="activity" *ngIf="event.constructor.name == 'Activity'">
      <ion-card-header>
        {{event.title}}
        <ion-icon name="bookmark" style="float:right"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        {{event.description}}
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small icon-left>
            <ion-icon name='calendar'></ion-icon>
            {{event.dateTime}}
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small icon-left>
            <ion-icon name='person'></ion-icon>
            {{event.owners}}
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    <!--End If activity-->
  </div>

  <ion-fab bottom right>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="stackPage('activity')">
        <ion-label class="atividade-label-fab">Atividade</ion-label>
        <ion-icon name="bookmark" color="secondary"></ion-icon>
      </button>
      <button ion-fab (click)="stackPage('meeting')">
        <ion-label class="reuniao-label-fab">Reunião</ion-label>
        <ion-icon name="bookmarks" color="primary"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>