<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Início</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Próximas</h3>
  <ion-card *ngIf="next.length == 0" class="void">
    <ion-card-content>Não existem próximas reuniões ou atividades</ion-card-content>
  </ion-card>
  <div *ngFor="let event of next">
    <!--If meeting-->
    <meeting-card [meeting]="event" *ngIf="event.constructor.name == 'Meeting'"></meeting-card>
    <!--End If meeting-->
    <!--If activity-->
    <activity-card [activity]="event" *ngIf="event.constructor.name == 'Activity'"></activity-card>
    <!--End If activity-->
  </div>
  <h3>Últimas</h3>
    <ion-card *ngIf="previous.length == 0" class="void">
    <ion-content>Não existem reuniões ou atividades passadas</ion-content>
  </ion-card>
  <div *ngFor="let event of previous">
    <!--If meeting--> 
    <meeting-card [meeting]="event" *ngIf="event.constructor.name == 'Meeting'"></meeting-card>
    <!--End If meeting-->
    <!--If activity-->
    <activity-card [activity]="event" *ngIf="event.constructor.name == 'Activity'"></activity-card>
    <!--End If activity-->
  </div>

  <ion-fab bottom right>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="stackPage('activity')">
        <ion-label class="atividade-label-fab">Atividade</ion-label>
        <ion-icon name="bookmark" color="secondary"></ion-icon>
      </button>
      <button ion-fab (click)="stackPage('meeting')">
        <ion-label class="reuniao-label-fab">Reunião</ion-label>
        <ion-icon name="bookmarks" color="primary"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>