page-home {

    ion-content.content-md {
        background-color: whitesmoke;
    }

    h3 {
        color: #333;
    }

    .void {
        border-left: 4px solid lightgray;
    }

    button[ion-fab] {
        overflow: visible;
        position: relative;

        ion-label {
            position: absolute;
            top: -5px;
            right: 40px;
            color: white;
            line-height: 24px;
            padding: 0 4px;
            border-radius: 5px;
        }
    }

    .reuniao-label-fab {
        background-color: rgba(0,133,197,0.7);
    }

    .atividade-label-fab {
        background-color: rgba(0,197,133,0.7);
    }

    .fab {
        contain: layout;
    }
}
